<div class="pattern-grid__wrapper" style="inset: {{position.top}} {{position.right}} {{position.bottom}} {{position.left}}">
    <div class="pattern-grid" data-module="pattern-grid" data-variation="{{variation}}" data-color="{{color}}"
        data-accent="{{accent}}" data-direction="{{direction}}" data-columns="{{columns}}" data-animate="{{animate}}"></div>
</div>